body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
}

header {
    background-color: #4a90e2;
    padding: 20px;
    color: white;
    text-align: center;
}

nav {
    background: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

nav button:hover {
    background: #357ab8;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #dcdcdc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.btn-regresar {
    display: inline-block;
    margin-top: 20px;
    background: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-regresar:hover {
    background: #c0392b;
}

.boton-editar {
    background-color: #f0ad4e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none; /* Quitar el subrayado de los links */
    display: inline-block;
    transition: background-color 0.3s;
}

.boton-editar:hover {
    background-color: #ec971f;
}


